.movie-show-page {
  background-color: #333333;
  .movie-width {
    max-width: 550px;
  }

  .trending-movies {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .mySlider {
    max-width: 1920px;
  }

  .banner-poster {
    .banner-info {
      padding: 0 70px;
      position: absolute;
      top: 0;
      z-index: 1;
      color: white;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #0009;

      justify-content: center;
      height: 100%;

      .banner-title {
        color: white;
      }
      .banner-movie-info {
        max-width: 1200px;

        font-size: 20px;
      }
      .banner-movie-type-list {
        display: flex;
        gap: 10px;
      }
    }
  }
}
